<div class="container">
    <div class = "book">
        <form class = "book-form">
            <div class = "form-item">
                <label for = "checkin-date">Check In Date: </label>
                <input type = "date" id = "chekin-date">
            </div>
            <div class = "form-item">
                <label for = "checkout-date">Check Out Date: </label>
                <input type = "date" id = "chekout-date">
            </div>
            <div class = "form-item">
                <label for = "adult">Adults: </label>
                <input type = "number" min = "1" value = "1" id = "adult">
            </div>
            <div class = "form-item">
                <label for = "children">Children: </label>
                <input type = "number" min = "1" value = "1" id = "children">
            </div>
            <div class = "form-item">
                <input type = "submit" class = "btn" value = "Book Now">
            </div>
        </form>
    </div>
</div>

<section class = "customers" id = "customers">
    <div class = "sec-width">
        <div class = "title">
            <h2>HABITACIONES</h2>
        </div>
      <!-- entre -->
      <div class="containerCard">
        <div class="card">
         <img src="image_main.jpg">
         <h4>HABITACION</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolorem possimus repudiandae neque eaque consequatur. Temporibus, facere autem consequatur quos provident, ratione aperiam veniam et, sint libero suscipit repellendus eaque.</p>
            <div class="icon">
               <div class="info1"><div class="icon-img"></div><div class="info-img"></div></div>
               <div class="info2"><i class="fas fa-bed"></i></div>
               <div class="info3"><i class="fas fa-building"></i></div>

            </div>
            <a routerLink="home">INICIO</a>
        </div>
       <div class="card">
         <img src="image_main.jpg">
         <h4>HABITACION 2</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolorem possimus repudiandae neque eaque consequatur. Temporibus, facere autem consequatur quos provident, ratione aperiam veniam et, sint libero suscipit repellendus eaque.</p>
         <a routerLink="home/reserv/form">leer mas</a>
       </div>
       <div class="card">
         <img src="image_main.jpg">
         <h4>HABITACION 3</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolorem possimus repudiandae neque eaque consequatur. Temporibus, facere autem consequatur quos provident, ratione aperiam veniam et, sint libero suscipit repellendus eaque.</p>
         <a href="#">leer mas</a>
       </div>

       <div class="card">
        <img src="image_main.jpg">
        <h4>HABITACION</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolorem possimus repudiandae neque eaque consequatur. Temporibus, facere autem consequatur quos provident, ratione aperiam veniam et, sint libero suscipit repellendus eaque.</p>
        <a href="#">leer mas</a>
      </div>
      <div class="card">
        <img src="image_main.jpg">
        <h4>HABITACION 2</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolorem possimus repudiandae neque eaque consequatur. Temporibus, facere autem consequatur quos provident, ratione aperiam veniam et, sint libero suscipit repellendus eaque.</p>
        <a href="#">leer mas</a>
      </div>
      <div class="card">
        <img src="image_main.jpg">
        <h4>HABITACION 3</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolorem possimus repudiandae neque eaque consequatur. Temporibus, facere autem consequatur quos provident, ratione aperiam veniam et, sint libero suscipit repellendus eaque.</p>
        <a href="#">leer mas</a>
      </div>
      <div class="card">
        <img src="image_main.jpg">
        <h4>HABITACION</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolorem possimus repudiandae neque eaque consequatur. Temporibus, facere autem consequatur quos provident, ratione aperiam veniam et, sint libero suscipit repellendus eaque.</p>
        <a href="#">leer mas</a>
      </div>
      <div class="card">
        <img src="image_main.jpg">
        <h4>HABITACION 2</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolorem possimus repudiandae neque eaque consequatur. Temporibus, facere autem consequatur quos provident, ratione aperiam veniam et, sint libero suscipit repellendus eaque.</p>
        <a href="#">leer mas</a>
      </div>
    
       
     </div>
    </div>
</section>